.navbar-toggler {
  margin-top: 0px;
  display: block;
  font-weight: 700;
  padding: 30px;
  background-color: #04D9FF;
  line-height: 2.5;
  border: 1px;
  border-color: white;
  position: relative;
  margin-right: 0px;
  border-radius: 0;
}

.container-fluid {
  padding-left: 0px;
  margin-top: 0px;
}

.navbar {
  padding-top: 0px;
}

.navbar-brand {
  color: white;
  margin-right: 0px;
}


button:hover {
  color: white;
}

.video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header {
  position: relative;
  height: 75vh;
  min-height: 40rem;
  width: 100%;
  overflow: hidden;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

header .container {
  position: relative;
  z-index: 1;
}

.display-3 {
  font-family: 'Antic Didone', serif;
  color: white;
  font-size: 40px;
  font-weight: normal;
}

.lead {
  font-family: 'Grey Qo', cursive;
  color: #04D9FF;
  font-size: 30px;
}
.row {
  align-items: center;
}
.card-header{
  background-color: white;
  border-bottom: 0;
}
.blockquote-footer{
  padding-top: 20px;
}
.card{
  border: 0;
}

.footer-img{
  width: 200px;
  
}
